.wrapper {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.converter {
  width: 250px;
  height: 240px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
